<style>
  .nice-border {
    border: 1px solid black;
    border-radius: 25px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .nice-border ul {
    list-style: none;
  }
  .nice-border button {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .nice-border p {
    font-size: 16px;
  }
</style>

<div class="row" style="margin: 10px; border-radius: 25px; border: 1px solid black;">
  <h3>Device 1</h3>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="nice-border">
      <h4><strong>Status:</strong> <span style="color: yello;">Connected</span></h4>
      <button class="btn btn-primary btn-sm center-block">Submit to Market</button>
    </div>
    <div class="nice-border">
      <h4><u>Device Specs:</u></h4>
      <ul>
        <li><strong>Memory:</strong> 793 MB</li>
        <li><strong>Disk Space:</strong> 7.34 GB</li>
        <li><strong>Internet Speed:</strong> 12 kbps up/53 kbps down</li>
        <li><strong>Processor: Raspberry Pi 3</strong></li>
      </ul>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="nice-border">
      <div>
        <h4><u>Description</u></h4>
        <textarea rows="10" class="form-control" style="overflow-y: scroll;"></textarea>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="nice-border" style="max-height: 300px; overflow-y: scroll;">
      <div>
        <h4><u>Reviews:</u></h4>
        <div>
          <p>3/5 - Randy</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio enim, tempus et venenatis non, sagittis sit amet augue. 
          </p>
        </div>
        <div>
          <p>4/5 - Bob</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio enim, tempus et venenatis non, sagittis sit amet augue. 
          </p>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="row" style="margin: 10px; border-radius: 25px; border: 1px solid black;">
  <h3>Device 2</h3>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="nice-border">
      <h4><strong>Status:</strong> <span style="color: green;">In Marketplace</span></h4>
      <button class="btn btn-danger btn-sm center-block">Remove from Market</button>
    </div>
    <div class="nice-border">
      <h4><u>Device Specs:</u></h4>
      <ul>
        <li><strong>Memory:</strong> 1.4 GB</li>
        <li><strong>Disk Space:</strong> 15.43 GB</li>
        <li><strong>Internet Speed:</strong> 43 kbps up/115 kbps down</li>
        <li><strong>Processor: Raspberry Pi 3</strong></li>
      </ul>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="nice-border">
      <div>
        <h4><u>Description</u></h4>
        <textarea rows="10" class="form-control" style="overflow-y: scroll;"></textarea>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="nice-border" style="max-height: 300px; overflow-y: scroll;">
      <div>
        <h4><u>Reviews:</u></h4>
        <div>
          <p>3/5 - Randy</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio enim, tempus et venenatis non, sagittis sit amet augue. 
          </p>
        </div>
        <div>
          <p>4/5 - Bob</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio enim, tempus et venenatis non, sagittis sit amet augue. 
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<hr style="border-top: 2px solid #000;">

<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-success" id="addNewDeviceBtn" style="margin-top: 10px; margin-bottom: 20px;">+ Add New Device</button>
  </div>
</div>
